@font-face {
    font-family: Fredoka;
    src: url('fonts/Fredoka-Light.ttf');
}
body{
    font-family: Fredoka;
    overflow: hidden;
}

.top-bar{
    display: flex;
    justify-content:space-between;
    border: solid;
    background-color: black;
    margin: -8px;
    height: 100px;
}

.left-content{
    width: 92%;
}

.sub-text{
    color: gray;
    margin-left: 30px;
    font-size: 100%;
}

.text{
    color: white;
    margin-top: 0px;
    margin-left: 30px;
    transform: translateY(-10px);
}

.text-text{
    font-size: 250%;
    margin-top: 0%;
    overflow: hidden !important;
    /* text-wrap: nowrap !important;
    text-overflow: ellipsis !important; */
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.profile-container{
    display: flex;
    justify-content: center;
    height: 70px;
    width: 7%;
    padding: 10px;
}


.bottom-top-bar{
    margin: 50px;
    margin-left: 10px;
    height: 50px;
    display: flex;
    margin-bottom: 0px;
}

.navigate-bar{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.next, .prev{
    width: 45px;
}

.prev{
    rotate: 180deg;
}

.download-pdf{
    margin-left:40px;
    margin-right: 10px;
    width:20%;
    border: solid !important;
}

.download-text{
    text-align: center;
    font-size: large;
    margin-top: 10px;

}

.player {
    margin: 10px;
    margin-top: 10px;
    display: flex;
}

.video-player {
    height: 450px;
    width : 900px;
}

.notes-box{
    width: 40%;
    height: 450px;
    margin-left: 50px;
    border: solid;
    overflow-y: scroll;
    overflow-x: hidden;
}

.notes-box::-webkit-scrollbar{
    width: 7px;
}

.notes-box::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 50px;
  }
  
.notes-box::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 50px;
  }
  
.notes-box::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.notes-element{
    display: flex;
    justify-items: flex-start;
    width: 98%;
    height: 30%;
    /* background-color: black; */
    /* border: solid; */
    margin: 1%;
    /* border-radius: 10px; */
}

.thumbnail-container{
    width: 35%;
    align-items: c;
    /* height: 100%; */
    margin: 2%;
    border: solid;
}

.thumbnail-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.quiz-container{
    display: flex;
    justify-content: space-between;
}

.quiz-box{
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: flex-end;
    border: solid;
    border-color: black;
    padding: 5px;
    transform: translateX(140%);
}

.quiz-text{
    margin-right: 13px;
    font-size: 130%;
    margin-top: 2px;
}

.bb{
    width: 60%;
    overflow: hidden;
    /* text-wrap: nowrap; */
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.next2{
    height: 30px;
    width: 30px;
}


.menu-container{
    /* opacity: 0; */
    position: absolute;
    z-index: 999;
    width: 500px;
    height: 100%;
    background-color: green;
    transform: translateX(1530px);
    transition: .5s;
}

/* .:hover{
    color: black;
} */

a{
    text-decoration: none;
    color: black;
}

.quiz-box:hover{
    color:white;
    background-color: grey;
    border-color: grey;
}

.download-pdf:hower{
    color:white;
    background-color: grey;
    border-color: grey;

}